# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare text files
*.md text diff=markdown
*.txt text
*.json text
*.yaml text
*.yml text
*.toml text
*.js text
*.ts text
*.css text
*.html text

# Store images in Git LFS
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.avif filter=lfs diff=lfs merge=lfs -text

# Declare binary files
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary

# Linguist overrides
pnpm-lock.yaml linguist-generated
